<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ShoppingCartTestSuite">

	<listeners>

		<listener class-name="com.utilities.Reporting" />
	</listeners>

	<test name="TestNGTest1" thread-count="11">
		<classes>
			<!-- packagename.classname -->
			<class name="com.testCases.SearchItem" />
			<class name="com.testCases.Home_WomensSection" />
			
		</classes>
	</test>
</suite> <!-- Suite --> 